.count-container {
    padding: 50px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.tally-counter-container {
    border: 2px solid;
    padding: 20px;
    border-radius: 12px;
    width: fit-content;
    text-align: center;
}

.button-add {
    border: none;
    background-color: chartreuse;
    padding: 6px 12px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    margin: 5px 10px;
}

.button-add:hover {
    background-color: green;
}

.button-reduce {
    border: none;
    background-color: crimson;
    padding: 6px 12px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
}

.button-reduce:hover {
    background-color: brown;
}

.d-block {
    display: block;
    margin-top: 5px;
}

.button-start-value {
    border: none;
    background-color: chartreuse;
    padding: 6px 12px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 5px;
}

.button-start-value:hover {
    background-color: green;
}

.value-input {
    border-radius: 12px;
    padding: 6px 10px;
}

.text-center {
    text-align: center;
}

.button-reset {
    border: none;
    background-color: aqua;
    padding: 6px 12px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    margin: 5px 10px;
}

.button-reset:hover {
    background-color: darkturquoise;
}

.counter-name-container {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.button-counter-name {
    border: none;
    background-color: chartreuse;
    padding: 6px 12px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 5px;
}

.button-counter-name:hover{
    background-color: green;
}

.button-add-counter{
    border: none;
    background-color: darkcyan;
    color: white;
    padding: 8px 16px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 5px;
    height: fit-content;
}

.button-add-counter:hover{
    background-color: darkblue;
}