.count-container{
    padding: 50px;
}

.tally-counter-container{
    border: 2px solid;
    padding: 20px;
    border-radius: 12px;
    width: fit-content;
    text-align: center;
}

.button-add{
    border: none;
    background-color: chartreuse;
    padding: 6px 12px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    margin: 5px 10px;
}

.button-add:hover{
    background-color: green;
}

.button-reduce{
    border: none;
    background-color: crimson;
    padding: 6px 12px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
}

.button-reduce:hover{
    background-color: brown;
}

.d-block{
    display: block;
    margin-top: 5px;
}

.button-start-value{
    border: none;
    background-color: chartreuse;
    padding: 6px 12px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 5px;
}

.button-start-value:hover{
    background-color: green;
}

.value-input{
    border-radius: 12px;
    padding: 6px 10px;
}

.text-center{
    text-align: center;
}

.button-reset{
    border: none;
    background-color: aqua;
    padding: 6px 12px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    margin: 5px 10px;
}

.button-reset:hover{
    background-color: darkturquoise;
}